@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.ttf');
	font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55263542#fontello') format('svg');
    font-display: swap;
}

:root {
	--secondary-color: #828282;
	--background-firstly-color: #fff;
	--background-secondary-color: #f6f6f6;
}